src/main/mule/travis-ci.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5bf77a0d-f0e3-4af6-86f5-b56737dac673" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="travis-ciFlow" doc:id="be91913a-83b7-4661-afd3-b1e69965b344" >
		<http:listener doc:name="Listener" doc:id="7bf5296c-af1b-4edd-85a7-7fbab58939bb" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3f544286-739d-4639-8b4b-38ae6bd46b06" />
	</flow>
</mule>
 